<div class='nav-container' style="height: auto;">
  <nav style="top: 0px;">
	 <div id="logo">
		<a href="#">
		  <!--<img src="/assets/logo_small.png" alt="Shedevr">-->
		</a>
	</div>
	<ul>
	  <li>
		 <a href="#home"><%=t 'home.title' %></a>
	  </li>
	  <li>
		 <a href="#whatwedo"><%=t 'what_we_do.title' %></a>
	  </li>
	  <li>
		 <a href="#contact"><%=t 'contacts.title' %></a>
	  </li>
	</ul>
  </nav>
</div>
