<div class='nav-container' style="height: auto;">
  <nav style="top: 0px;">
	 <div id="logo">
		<a href="#">
		  <!--<img src="/assets/logo_small.png" alt="Shedevr">-->
		</a>
	</div>
	<ul>
	  <li>
		 <a href="/#whatwedo"><%=t "home_page" %></a>
	  </li>
	</ul>
  </nav>
</div>
