<div class='navbar-fixed-top' style="height: auto;">
  <nav class='header'>
  <!--<nav style="top: 0px;">-->
	 <!--<div id="logo">-->
		<!--<a href="#">-->
		  <!--&lt;!&ndash;<img src="/assets/logo_small.png" alt="Shedevr">&ndash;&gt;-->
		<!--</a>-->
	<!--</div>-->
	<!--<ul>-->
	  <!--<li>-->
		 <a href="/#whatwedo"><%=t "home_page" %></a>
	  <!--</li>-->
	<!--</ul>-->
  <!--</nav>-->
  </nav>
</div>
