<section id="social_module">
	 <div class="row">
		  <div class="twelve columns">
				<ul>
					 <li>
						  <a href="#" target="_blank">
								<i class="icon">F</i>
						  </a>
					 </li>
					 <li>
						  <a href="https://twitter.com/kernelweb" target="_blank">
								<i class="icon">L</i>
						  </a>
					 </li>
				</ul>
		  </div>
	 </div>
</section>
