<footer>
    <div class="row">
        <div class="twelve columns">
            <img src="/assets/logo_footer.png" alt="YOURLOGO">
        </div>
      <p4> Разработано веб-студией Kernel - <%= link_to 'http://kerweb.ru', 'http://kerweb.ru'%></p4>

    </div>
</footer>
