<section id='home'>
	<div class='row'>
		<div class='twelve columns'>
			<h1 class='fade-it'>
				<img alt="Kerweb" src="/assets/logo_header.png"/>
			</h1>
			<div class='fade-it'>
				<div class='roles'>
					<div>
						We are the Killers
					</div>
					<div>
						We are the Bandits
					</div>
					<div>
						We are the Bad Guys
					</div>
					<div>
						We are the Raiders
					</div>
					<div>
						We are what you need
					</div>
				</div>
			</div>
		</div>
		<div id='down_button' class='fade-it'>
			<a href="#whatwedo"></a>
		</div>
	</div>
</section>

