.cont > .og-expander {
	/*::​transition: height 350ms ease;
	::-webkit-transition: height 350ms ease;*/
    height: auto;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 20px;
    width: auto;
}

.cont{
    background-color:#ead6ea;
    text-align: center;
    min-height: 75%;
    height: auto;
}




.cont  .og-details{
    float: right;
    line-height: 20px;
    margin-top: 0;
}


.cont .og-close{
    display: none;
}

.cont a {
    display: none;
}

.cont .og-grid{
    padding-top: 0;
}

.cont .og-grid li{
    height: 20px;
}

.cont .og-expander{
    margin-top: 0;
}

h3.page-title{
    font-weight: 300;
    font-size: 52px;
    color:#555;
    line-height: 100px;
}

.text-container{
    text-align: left;
    font-size: 150%;
    padding-bottom:20px;
    margin: 0 auto;
    width: 50%;
}

.text-container p{
   padding-bottom: 10px;
}
.text-container li {
    display: list-item;
    height:auto !important;
    margin: 0px 0px 0px 0px !important;
}
.text-container ol, ul {
    padding-left: 20px;
    padding-bottom: 10px;
}
footer{
    bottom: 0px;
}