html, body{
    height: auto;
}

body{
    background-color: #ead6ea;;
}

.header> a{
    color:#333;
    position:relative;
    display:inline-block;
    font-weight: 300;
    text-decoration:underline;
    font-size:12px;
    text-transform:uppercase;
    float: right;
    margin-right: 30px;
    line-height: 60px;
}

.header> a:hover,
.header>a.selected {
    text-decoration: underline;
    color:#00aed7;
}

.cont > .og-expander {
	/*::​transition: height 350ms ease;
	::-webkit-transition: height 350ms ease;*/
    height: auto;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 20px;
    width: auto;
}

.cont{
    background-color:#ead6ea;
    text-align: center;
    height: auto;
    padding-top: 60px;
}


#wrap{
    margin-bottom: -75px;
    min-height: 100%;
    top: 60px;
}

.cont:after{
    content: "";
    display: block;
}

footer, #wrap:after{
  height: 75px;
}



.cont  .og-details{
    float: right;
    line-height: 20px;
    margin-top: 0;
}


.cont .og-close{
    display: none;
}

.cont a.go-to-page, .cont a.miniproject   {
    display: none;
}


.cont .og-grid{
    padding-top: 0;
}

.cont .og-grid li{
    height: 20px;
}

.cont .og-expander{
    margin-top: 0;
}

h3.page-title{
    font-weight: 300;
    font-size: 52px;
    color:#555;
    line-height: 100px;
}

.text-container{
    text-align: left;
    font-size: 150%;
    padding-bottom:80px;
    margin: 0 auto;
    width: 50%;
}

.text-container p{
   padding-bottom: 10px;
}
.text-container li {
    display: list-item;
    height:auto !important;
    margin: 0px 0px 0px 0px !important;
}
.text-container ol, ul {
    padding-left: 20px;
    padding-bottom: 10px;
}
footer{
    bottom: 0px;
}